FIGMA_TOKEN=your_figma_token_here
SERVICE_KEY=your_strong_random_service_key_here
REQUEST_TIMEOUT_SECONDS=20

PUBLIC_BASE_URL=https://prototype-creator.onrender.com


MS_TENANT_ID=your_tenant_id
MS_CLIENT_ID=your_app_client_id
MS_CLIENT_SECRET=your_app_client_secret
SP_SITE_ID=your_sharepoint_site_id
SP_DRIVE_ID=your_sharepoint_drive_id
SP_FILE_PATH=Shared Documents/DCI Architecture Plan.xlsx
SP_WORKSHEET_NAME=
